<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/page-template.html :: header(title='Leaf :: Home')">
    <title>Leaf :: Home</title>
</head>
<body>
<nav th:replace="fragments/page-template.html :: navbar"></nav>
<section th:replace="fragments/page-template.html :: hero"></section>
<!-- section -->
<section class="section">
    <div class="container">
        <p id="homePageTitle">Home Page</p>
        <p class="subtitle">
            <a href="users.html" th:href="@{/admin/users}">Users List</a>&nbsp;|&nbsp;<a href="audit.html" th:href="@{/admin/audit}">Audit Users</a>
        </p>
    </div>
</section>
<!-- /section -->
<footer th:replace="fragments/page-template.html :: footer"></footer>
</body>
</html>