<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/page-template.html :: header(title='Leaf :: Home')">
    <title>Leaf :: Home</title>
</head>
<body>
<nav th:replace="fragments/page-template.html :: navbar"></nav>
<section th:replace="fragments/page-template.html :: hero"></section>
<!-- section -->
<section class="section">
    <div class="container">
        <p class="subtitle">
            <a th:href="@{/admin/users}" href="users.html">Users List</a>&nbsp;|&nbsp;<a th:href="@{/admin/audit}" href="audit.html">Audit Users</a>
        </p>
    </div>
</section>
<!-- /section -->
<footer th:replace="fragments/page-template.html :: footer"></footer>
</body>
</html>