<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/page-template.html :: header(title='Leaf :: Index')">
    <title>Leaf :: Index</title>
</head>
<body>
<section th:replace="fragments/page-template.html :: hero"></section>
<section class="section">
    <div class="container">
        <p class="is-size-3">
            Welcome to Leaf Application. Please Log In or Register.
        </p>
        <p>
            <a th:href="@{/login}" href="login.html" th:text="#{app.index.login.link.text}" class="button is-link">Log In</a>&nbsp;&nbsp;
            <a th:href="@{/register}" href="register.html" th:text="#{app.index.register.link.text}" class="button is-link is-success">Register</a>
        </p>
    </div>
</section>
<footer th:replace="fragments/page-template.html :: footer"></footer>
</body>
</html>