<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--/*/ <th:block th:include="fragments/header-import.html"></th:block>  /*/-->
    <title>Leaf :: Index</title>
</head>
<body>
    <h4 id="header">Welcome Page</h4>
    <p>Welcome to Demo application. You can register a new user or login with existing id.</p>
    <a th:href="@{/login}" href="login.html">login</a>&nbsp;|&nbsp;<a th:href="@{/register}" href="register.html">register</a>
    <!--/*/ <th:block th:include="fragments/footer-import.html"></th:block>  /*/-->
</body>
</html>