<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/page-template.html :: header(title='Leaf :: Login')">
    <title>Leaf :: Login</title>
</head>
<body>
<section th:replace="fragments/page-template.html :: hero"></section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third box">
                <form action="/login" method="post" th:action="@{/login}">
                    <div class="notification is-danger" th:if="${param.error} != null">
                        <p id="authErrorMsg">Invalid email address and / or password</p>
                    </div>
                    <div class="field">
                        <label class="label" for="emailInp">Email</label>
                        <div class="control has-icons-left">
                            <input class="input" id="emailInp" name="email" placeholder="demo@email.com" required type="email" value="john@c12.io">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="passwordInp">Password</label>
                        <div class="control has-icons-left">
                            <input class="input" id="passwordInp" name="password" required type="password" value="Password@123">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" name="rememberMe" id="rememberMeCheckInp">
                                Remember Me
                            </label>
                        </div>
                    </div>
                    <hr>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link is-light" type="reset" id="cancelBtn">Cancel</button>
                        </div>
                        <div class="control">
                            <button class="button is-link is-success" type="submit" id="loginBtn">Log In</button>
                        </div>
                        <div class="control">
                            <a class="button is-ghost is-text" href="/forgotPassword" th:href="@{/forgotPassword}" id="forgotPasswordLnk">Forgot Password?</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<footer th:replace="fragments/page-template.html :: footer"></footer>
</body>
</html>