<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/page-template.html :: header(title='Leaf :: Register')">
    <title>Leaf :: Login</title>
</head>
<body>
<section th:replace="fragments/page-template.html :: hero"></section>
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third is-offset-one-third box">
                <form action="/registerSubmit" method="post" th:action="@{/registerSubmit}" th:object="${registerUser}" id="registerForm">
                    <div class="notification is-success" th:if="${successMessage} != null">
                        <p th:utext="${successMessage}" id="registerMessage">User Registered successfully</p>
                    </div>
                    <div class="notification is-warning" th:if="${errorMessage} != null">
                        <p th:utext="${errorMessage}" id="errorMessage">User with email already exists</p>
                    </div>
                    <div class="field">
                        <label class="label" for="firstNameInp">First Name</label>
                        <div class="control has-icons-left">
                            <input class="input" id="firstNameInp" name="firstName" placeholder="First Name" required minlength="2" th:field="*{firstName}" type="text" th:errorclass="is-danger">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <p class="help is-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="lastNameInp">Last Name</label>
                        <div class="control has-icons-left">
                            <input class="input" id="lastNameInp" name="lastName" placeholder="Last Name" required th:field="*{lastName}" type="text" th:errorclass="is-danger">
                            <span class="icon is-small is-left">
                                <i class="fas fa-user"></i>
                            </span>
                            <p class="help is-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="emailInp">Email</label>
                        <div class="control has-icons-left">
                            <input class="input" id="emailInp" name="email" placeholder="demo@email.com" required th:field="*{email}" type="email" th:errorclass="is-danger">
                            <span class="icon is-small is-left">
                                <i class="fas fa-envelope"></i>
                            </span>
                            <p class="help is-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="passwordInp" id="passwordHelp">Password <i class="fas fa-question-circle"></i></label>
                        <div class="control has-icons-left">
                            <input class="input" id="passwordInp" name="password" placeholder="Password" required minlength="8" maxlength="255" th:field="*{password}" type="password" th:errorclass="is-danger"
                                   th:classappend="${#fields.hasErrors('passwordMatch')} ? 'is-danger' : ''">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                            <p class="help is-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="confirmPasswordInp">Confirm Password</label>
                        <div class="control has-icons-left">
                            <input class="input" id="confirmPasswordInp" name="confirmPassword" placeholder="Confirm Password" required minlength="8" maxlength="255" th:field="*{confirmPassword}" type="password" th:errorclass="is-danger"
                                   th:classappend="${#fields.hasErrors('passwordMatch')} ? 'is-danger' : ''">
                            <span class="icon is-small is-left">
                                <i class="fas fa-lock"></i>
                            </span>
                            <p class="help is-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
                            <p class="help is-danger" th:if="${#fields.hasErrors('passwordMatch')}" th:errors="*{passwordMatch}">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox" id="termsCheckInp" name="termsAgreed" required th:field="*{termsAgreed}" th:errorclass="is-danger">
                                I agree to the <a href="#">terms and conditions</a>
                            </label>
                            <p class="help is-danger" th:if="${#fields.hasErrors('termsAgreed')}" th:errors="*{termsAgreed}">
                        </div>
                    </div>
                    <hr>
                    <div class="field is-grouped">
                        <div class="control">
                            <button class="button is-link is-light" type="reset" id="cancelBtn">Cancel</button>
                        </div>
                        <div class="control">
                            <button class="button is-link" type="submit" id="registerBtn">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Password criteria</p>
            <button aria-label="close" class="delete" id="closeTop"></button>
        </header>
        <section class="modal-card-body">
            <div class="content">
                <h5 class="title is-5">Secure Password requirements</h5>
                <ol>
                    <li>Password must contain at least one digit [0-9].</li>
                    <li>Password must contain at least one lowercase Latin character [a-z].</li>
                    <li>Password must contain at least one uppercase Latin character [A-Z].</li>
                    <li>Password must contain at least one special character. Allowed special characters are ! @ # $ % ^ & *.</li>
                    <li>Password cannot contain any white space</li>
                    <li>Password must contain a length of at least 8 characters and a maximum of 255 characters.</li>
                </ol>
            </div>
        </section>
        <footer class="modal-card-foot is-right">
            <div class="buttons is-right">
                <button class="button is-info" id="modelOkayBtn">Okay</button>
            </div>
        </footer>
    </div>
</div>
<footer th:replace="fragments/page-template.html :: footer"></footer>
<script>
    $("#passwordHelp").click(function () {
        $(".modal").addClass("is-active");
    });

    $("#closeTop,#modelOkayBtn").click(function () {
        $(".modal").removeClass("is-active");
    });

    $(document).ready(function () {
        let validator = $("#registerForm").validate({
            rules: {
                'firstName': {
                    minlength: 2
                },
                'confirmPassword': {
                    equalTo: '#passwordInp'
                }
            },
            messages: {
                'firstName': {
                    required: 'First Name is required',
                    minlength: $.validator.format('First Name should be minimum {0} character')
                },
                'lastName': {
                    required: 'Last Name is required'
                },
                'email': {
                    required: 'Email is required',
                    email: 'Email is invalid'
                },
                'password': {
                    required: 'Password is required',
                    minlength: 'Password should be minimum 8 characters and maximum of 255 characters',
                    maxlength: 'Password should be minimum 8 characters and maximum of 255 characters'
                },
                'confirmPassword': {
                    required: 'Confirm Password is required',
                    minlength: 'Confirm Password should be minimum 8 characters and maximum of 255 characters',
                    maxlength: 'Confirm Password should be minimum 8 characters and maximum of 255 characters',
                    equalTo: 'Password and Confirm password have to match'
                },
                'termsAgreed': {
                    required: 'Agree to Terms and Conditions to continue'
                }
            }
        });

        // reset validator on the form
        $('#cancelBtn').click(function() {
            validator.resetForm();
        })
    });
</script>
</body>
</html>